@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Manrope", sans-serif; */
}

.urbanist {
  font-family: "Urbanist", sans-serif;
}

/* for slider */

#testimonial-container {
  display: flex;
  overflow: hidden;
  animation: scrollTestimonials 200s linear infinite;
}

@keyframes scrollTestimonials {
  0% {
    transform: translateX(0); /* Start at the initial position */
  }
  100% {
    transform: translateX(
      -100%
    ); /* Move to the left by the width of one card */
  }
}
